**/mpiigaze
*.pt
*.pth
**.png
**/RT_GENE
**/recalib_patches
**/recalib_patches_SH
**/recalib_patches_SW
*.csv
**/others
**/models
*.json
**/.vscode
*.npy
# Python cache
__pycache__/
**/__pycache__/
*.py[cod]